{% extends "base.html" %}
{% block title %}OOL - zmiana hasła{% endblock %}
{% load markdown_deux_tags %}
{% block content %}
<div class="container main">
    <div class="pt-5">
    <!-- Spacer--> 
    </div>
    {% for o in arts %}
        <p>
            {{ o.text|markdown }}
        </p>

    {% endfor %}

    <div class="pt-5">
        Zmiana hasła użytkownika: {{request.user}}
        </div>
    {% if message %}
            <div class="alert alert-danger" role="alert">
                    {{ message }}
            </div>
    {% endif %}

    <form method="post">
            {% csrf_token %}
    <div class="form-group">
        <input type="password" class="form-control form-control-sm" name="oldpass" id="oldpass" placeholder="Stare hasło" required>
        <input type="password" class="form-control form-control-sm" name="newpass" id="newpass" placeholder="Nowe hasło" required>
        <input type="password" class="form-control form-control-sm" name="repass" id="repass" placeholder="Potwierdź nowe hasło" required>
        <button type="submit" class="btn btn-default">Zmień hasło</button>
    </div>
    </form>
</div>
{% endblock%}