{% extends "base.html" %}
{% block title %}OOL - Uczniowie{% endblock %}
{% block content %}

<div class="container main">
    <div class="pt-5">
        <!-- Spacer --> 
    </div>
    {% if students %}
    {% for student in students %}
    <div class="row">
        <div class="col-sm">
            {{ student.first_name }}
        </div>
        <div class="col-sm">
                {{ student.last_name }}
        </div>
        <div class="col-sm">
                {{ student.classe }}
        </div>
        <div class="col-sm">
                {{ student.school }}
        </div>
        <div class="col-sm">
                <a class="btn btn-sm" role="link" href="/student/{{ student.id }}">Edytuj</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock%}